body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#eef3f8;
}

header{
    background:#0077cc;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    background:#005fa3;
    text-align:center;
    padding:12px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
}

.hero{
    text-align:center;
    padding:50px;
}

.button{
    background:#0077cc;
    color:white;
    padding:12px 25px;
    border-radius:8px;
    text-decoration:none;
    margin:10px;
    display:inline-block;
}

.car-card{
    width:300px;
    display:inline-block;
    margin:20px;
    padding:15px;
    background:white;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

.car-card img{
    width:100%;
    border-radius:8px;
}

.map{
    width:90%;
    max-width:1000px;
}